body {
    margin-bottom: 23px;
    white-space: normal !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 26px;
}

li {
    position: relative;
}

.hoverable {
    transition: background-color .2s ease-out 0s;
    -webkit-transition: background-color .2s ease-out 0s;
    display: inline-block;
}

.hovered {
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}

.selected {
    outline: dotted 1px;
}

.collapsed > .collapsible {
    display: none;
}

.ellipsis {
    display: none;
}

.collapsed > .ellipsis {
    display: inherit;
}

.collapser {
    position: absolute;
    top: 1px;
    left: -1.5em;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.status {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 628px;
    border: 1px solid #c2c2c2;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-right-radius: 4px;
    height: 16px;
    padding: 2px 7px 2px 4px;
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0;
    background-color: #d2d2f6;
    color: #696969;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    user-select: none;
    -webkit-user-select: none;
}

.status:not(:empty ) {
    opacity: 1;
}

.toolbox {
    font-family: sans-serif;
    font-size: 13px;
    opacity: .25;
    background-color: #d2d2f6;
    position: fixed;
    right: 0;
    top: 0;
    border: 0 solid #c2c2c2;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
    padding-bottom: 3px;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 2px;
}

.toolbox:hover {
    opacity: 1;
}

.toolbox > * {
    padding-left: 3px;
    padding-right: 3px;
}

.toolbox > a {
    padding-left: 5px;
}

.toolbox > img {
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}